package getters


import (
	"github.com/tokend/stellar-deposit-svc/internal/horizon/page"
    "github.com/tokend/stellar-deposit-svc/internal/horizon/query"
    "gitlab.com/distributed_lab/logan"
    "gitlab.com/distributed_lab/logan/v3/errors"
    regources "gitlab.com/tokend/regources/generated"
)

type TemplatePager interface {
    Next() (*regources.TemplateListResponse, error)
    Prev() (*regources.TemplateListResponse, error)
    Self() (*regources.TemplateListResponse, error)
}

type TemplateGetter interface {
    SetFilters(filters query.TemplateFilters)
    SetIncludes(includes query.TemplateIncludes)
    SetPageParams(pageParams page.Params)
    SetParams(params query.TemplateParams)

    Filter() query.TemplateFilters
    Include() query.TemplateIncludes
    Page() page.Params

    ByID(ID string) (*regources.TemplateResponse, error)
    List() (*regources.TemplateListResponse, error)
}

type TemplateHandler interface {
    TemplateGetter
    TemplatePager
}

type defaultTemplateHandler struct {
	base Getter
	params query.TemplateParams

	currentPageLinks *regources.Links
}

func NewDefaultTemplateHandler(c *client.Client) *defaultTemplateHandler {
	return &defaultTemplateHandler{
		base: New(c),
	}
}


func (g *defaultTemplateHandler) SetFilters(filters query.TemplateFilters) {
    g.params.Filters = filters
}

func (g *defaultTemplateHandler) SetIncludes(includes query.TemplateIncludes) {
    g.params.Includes = includes
}

func (g *defaultTemplateHandler) SetPageParams(pageParams page.Params) {
    g.params.PageParams = pageParams
}

func (g *defaultTemplateHandler) SetParams(params query.TemplateParams) {
    g.params = params
}

func (g *defaultTemplateHandler) Params() query.TemplateParams{
    return g.params
}

func (g *defaultTemplateHandler) Filter() query.TemplateFilters{
    return g.params.Filters
}

func (g *defaultTemplateHandler) Include() query.TemplateIncludes{
    return g.params.Includes
}

func (g *defaultTemplateHandler) Page() page.Params{
    return g.params.PageParams
}

func (g *defaultTemplateHandler) ByID(ID string) (*regources.TemplateResponse, error) {
	result := &regources.TemplateResponse{}
	err := g.base.GetPage(query.TemplateByID(ID), g.params, result)
	if err != nil {
		return nil, errors.Wrap(err, "failed to get record by id", logan.F{
			"id": ID,
		})
	}
	return result, nil
}

func (g *defaultTemplateHandler) List() (*regources.TemplateListResponse, error) {
	result := &regources.TemplateListResponse{}
	err := g.base.GetPage(query.TemplateList(), g.params, result)
	if err != nil {
		return nil, errors.Wrap(err, "failed to get records list", logan.F{
			"query_params": g.params,
		})
	}
    g.currentPageLinks = result.Links
	return result, nil
}

func (g *defaultTemplateHandler) Next() (*regources.TemplateListResponse, error){
	if g.currentPageLinks == nil{
		return nil, errors.New("Empty links")
	}
	if g.currentPageLinks.Next == "" {
	    return nil, nil
	}
	result := &regources.TemplateListResponse{}
	err := g.base.PageFromLink(g.currentPageLinks.Next, result)
	if err != nil {
		return nil, errors.Wrap(err, "failed to get next page", logan.F{
			"link": g.currentPageLinks.Next,
		})
	}

	return result, nil
}

func (g *defaultTemplateHandler) Prev() (*regources.TemplateListResponse, error){
	if g.currentPageLinks == nil{
		return nil, errors.New("Empty links")
	}
	if g.currentPageLinks.Prev == "" {
    	    return nil, nil
    }

	result := &regources.TemplateListResponse{}
	err := g.base.PageFromLink(g.currentPageLinks.Prev, result)
	if err != nil {
		return nil, errors.Wrap(err, "failed to get next page", logan.F{
			"link": g.currentPageLinks.Next,
		})
	}

	return result, nil
}

func (g *defaultTemplateHandler) Self() (*regources.TemplateListResponse, error){
	if g.currentPageLinks == nil{
		return nil, errors.New("Empty links")
	}
	if g.currentPageLinks.Self == "" {
    	    return nil, nil
    }
	result := &regources.TemplateListResponse{}
	err := g.base.PageFromLink(g.currentPageLinks.Self, result)
	if err != nil {
		return nil, errors.Wrap(err, "failed to get next page", logan.F{
			"link": g.currentPageLinks.Next,
		})
	}

	return result, nil
}
